.header {
    background: #F8F4F9;
    background: linear-gradient(90deg, rgba(248, 244, 249, 1) 0%, rgba(175, 127, 235, 1) 50%, rgba(248, 244, 249, 1) 100%);
    color: white;
    padding: 15px;
    text-align: center;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


  
.header nav a {
    color: white;
    margin: 0px;
    text-decoration: none;
}

.header img {
    height: 100px;
    float: left;
    position: absolute;
    left: 0;
    padding-left: 10px;
}